# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
packages/app/build/
packages/server/dist/
packages/db/dist/
packages/db/build/
packages/email-service/dist/
.yarn/*
!.yarn/plugins/
!.yarn/plugins/**
!.yarn/releases/
!.yarn/releases/**
.yarn/cache/
packages/**/.yarn/
pw-videos/
html-report/
results/
playwright.json
playwright/.auth/user.json

# deps
node_modules/
packages/app/node_modules/

# env
.env
.env.production
!packages/app/.env


# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
packages/app/src/app/locale/translations-backup.zip
packages/types/dist/
packages/types/*.tgz
third-party/rc-gantt/node_modules
third-party/rc-gantt/src/.umi
.yarn/install-state.gz
packages/server/uploads/
packages/server/previews/
packages/server/license
packages/license.key
packages/server/license.key
/releases/
scripts/license_keys/*.json
stacks-teams.zip
packages/server/import/*
packages/license/dist/*

# testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright.json
