node_modules/
.yarn/
**/dist/
**/build/
packages/app/build/
packages/server/dist/
packages/email-service/dist/
packages/db/dist/
packages/db/build/
packages/types/dist/
packages/license/dist/
packages/translations/dist/
releases/
third-party/
coverage/
html-report/
playwright-report/
test-results/
*.min.css
*.min.js
yarn.lock
